.amt {
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
  }
  .amt__top {
    display: flex;
    align-items: center;
  }
  .amt__top > * {
    margin-left: 10px;
  }
  .amt__Cnt {
    padding: 0.5rem 0;
  }
  .amt__txt {
    margin: 10px 15px;
  }
  .amt__img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    margin: 10px 0;
  }
  
  .amt__files {
    margin: 10px 0;
  }
  
  .amt__pdf {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .amt__txt {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .amt__time {
    font-size: 12px;
    color: grey;
    margin-top: 5px;
  }

  /* View Submissions Button */
  /* Button Styling - Soft Earthy Look */
.view-submissions-btn {
  
  
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.view-submissions-btn:hover {
  background-color: #8c5a21; /* Richer brown */
  transform: translateY(-1px);
}

.view-submissions-btn:active {
  transform: scale(0.96);
}